venv/
__pycache__/
*.pyc
database.db
static/images/products/*
!static/images/products/.gitkeep
1.jpg
2.jpg
3.jpg
4.jpg
5.jpg
6.jpg
7.jpg
8.jpg
9.jpg
10.jpg
Icon.JPG
Icon.png
Tovar.xlsx
user_import.xlsx
Заказ_import.xlsx
Пункты выдачи_import.xlsx
picture.png